.Input {
  padding: 0.5em;
  margin: 0.5em;
}

.label {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.charactersRemaining {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

textarea {
  padding: 0.5em;
  font-family: inherit;
  max-width: 25vw;
  max-height: 20vh;
  min-width: 25vw;
  min-height: 5vh;
}
