.Subscribe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1.5em;
  margin: 2em;
  height: auto;
  width: 40vw;
  min-width: 25em;
  background-color: #f7f7f2;
  color: #313639;
}

.image {
  width: 40vw;
  min-width: 25em;
  height: auto;
}

.title {
  padding: 0.5em;
  padding-left: 0em;
  margin: 0em;
  font-weight: bolder;
  font-style: normal;
  font-size: 2em;
  color: #313639;
  text-decoration: solid;
  align-self: flex-start;
}

.email {
  padding: 0.5em;
  padding-left: 0em;
  margin: 0em;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
  color: #313639;
  text-decoration: solid;
  align-self: flex-start;
}

.text {
  padding: 1em;
  padding-left: 0em;
  margin: 0em;
  align-self: flex-start;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
}

@media only screen and (max-width: 500px) {
  .Subscribe {
    flex-wrap: nowrap;
    width: 30vw;
    min-width: 15em;
  }

  .image {
    width: 10vw;
    min-width: 15em;
  }

  .title {
    font-size: 1em;
  }

  .email {
    font-size: 1em;
  }

  .text {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 300px) {
  .Subscribe {
    flex-wrap: nowrap;
    width: 30vw;
    min-width: 12em;
  }

  .image {
    width: 5vw;
    min-width: 11em;
  }

  .email {
    font-size: 1em;
  }

  .title {
    font-size: 1em;
  }

  .text {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 260px) {
  .Subscribe {
    flex-wrap: nowrap;
    width: 30vw;
    min-width: 10em;
  }

  .image {
    width: 5vw;
    min-width: 11em;
  }

  .email {
    font-size: 0.5em;
  }

  .title {
    font-size: 1em;
  }

  .text {
    font-size: 0.8em;
  }
}
