.Comment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 35vw;
  padding: 1em;
  margin: 0.5em;
  background-color: #f7f7f2;
  color: #313639;
  border: 0.25em solid #313639;
}

.name {
  padding: 0.2em;
  margin: 0.2em;
}

.date {
  padding: 0.2em;
  margin: 0.2em;
  font-weight: normal;
  font-style: italic;
}

.text {
  padding: 0.2em;
  margin: 0.2em;
}
