.Characters {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 60vh;
  max-width: 100%;
  background-color: #114b5f;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 3em;
  height: auto;
  width: 65vw;
  padding: 2em;
  margin: 2em;
  background-color: #f7f7f2;
  color: #313639;
  border-radius: 1em;
}

.image {
  padding: 1em;
  margin: 0em;
  width: 40vw;
  height: auto;
}

.title {
  padding: 1em;
  margin: 0em;
}

.text {
  padding: 1em;
  margin: 0em;
}

.columns {
  display: flex;
  flex-direction: rows;
}
