.CommentForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  width: 40vw;
  min-width: 25em;
  padding: 1.5em;
  margin: 1em;
  background-color: #f45b69;
  color: #f7f7f2;
  box-shadow: 0.3em -0.3em #f67984;
}

.submit {
  background-color: #313639;
  color: #f7f7f2;
  padding: 0.5em;
  margin: 1em;
  margin-bottom: 0em;
  font-size: 1em;
  font-style: normal;
  text-decoration: solid;
  align-self: center;
  transition: 0.3s;
  cursor: default;
}

.submit:hover {
  background-color: #f7f7f2;
  color: #313639;
  transform: scale(1.1);
  transition: 0.3s;
}

.commentTitle {
  font-size: 1.5em;
}
