.Header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 40vh;
  max-height: 40vh;
  max-width: 100%;
  background-color: #f45b69;
  padding: 0em;
  margin: 0em;
  border-bottom: 0.25em solid #f7f7f2;
  cursor: default;
}

.logo {
  padding: 0.5em;
  margin: 0;
  width: auto;
  height: 15vh;
}

.subtitle {
  padding: 0em;
  margin: 0em;
  margin-left: 1.35em;
  font-size: 1em;
  cursor: default;
}

.title {
  padding: 0.2em;
  margin: 0em;
  font-size: 6em;
  cursor: default;
}

.NavigationBar {
  align-self: center;
}

.titleContainer {
  display: flex;
  flex-direction: row;
}
